<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MALL CUSTOMER CLUSTERING</title>

    <style>
        a{
            margin: 20px;
            border: 2px solid black;
            text-decoration: none;
            padding: 5px;
        }
    </style>
    
</head>
<body style="text-align: center;">
    <h1 style="text-align: center;">CLUSTERING MALL CUSTOMER</h1>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <a href="sse_page">SSE PLOT</a>
        <a href="clustering_page">CLUSTERING PLOT</a>
    </div>
    <h3>RAW DATASET</h3>
    <div style="display: flex; justify-content: center; text-align: center;">
        <table border="1">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Annual Income (k$)</th>
                    <th>Spending Score (1-100)</th>
                    <th>Clusters</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row['CustomerID'] }}</td>
                        <td>{{ row['Gender'] }}</td>
                        <td>{{ row['Age'] }}</td>
                        <td>{{ row['Annual Income (k$)'] }}</td>
                        <td>{{ row['Spending Score (1-100)'] }}</td>
                        <td>{{ row['Clusters'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>