<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Plot</title>
</head>
<body style="text-align: center;">
    <div style="display: flex; flex-direction: column;">
        <h2 style="margin-bottom: 0%;">Sum of squared error</h2>
        <img style="width: 50%; margin: auto;" src="data:image/png;base64,{{ sse_img_data }}" alt="SSE Plot">
        <a style="font-size: 24px;" href="/">Balik ke index</a>
    </div>
</body>
</html>
